.LoginPage {
    /* background-image: url('/img/background.jpg'); */
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email {
    margin-top: 1rem;
    width: 90%;
    font-size: 16px;
    border-radius: 3px;

}


.password {
    margin-top: 0.4rem;
    width: 90%;
    font-size: 16px;
    border-radius: 3px;
}